# Compiled
*.elc
/build/

# Packaging
.cask

# Backup files
*~

# Undo-tree save-files
*.~undo-tree


# LaTeX
/whyse.xdv
/whyse.toc
/whyse.tex
/whyse.log
/whyse.fls
/whyse.fdb_latexmk
/whyse.aux
# exemplary compilation
whs.pdf
/Dockerfile.aux
/Dockerfile.fdb_latexmk
/Dockerfile.fls
/Dockerfile.log
/Dockerfile.tex
/Dockerfile.xdv
/_region_.aux
/_region_.fdb_latexmk
/_region_.fls
/_region_.log
/_region_.tex
/auto/
/texput.aux
/texput.log
